<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>

    <!-- I didn't have time to finish this but here's what I would do:
        Pass the variables back to the containers below.
        I would add div container using bootstrap to hold the title "Latest Mars News"
        I would then return the value of the header that I scraped and put it in another container
        Next, I would add the paragraph value below that.
        Next, I would give add a title in another boostrap section "Featured Mars Image"
        I would bring in the twitter feed of the weather right next to that on the right
        I would then bring in one of the photos to fit below the "Featured Mars Image"
        And lastly I would bring in the Mars Facts table into another container.
        Not enough time, even with the added time. It is what it is.
    -->    
  </div>
</body>

</html>
